@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
}

hr, .card-left, .card-right, textarea, .popup{
    box-shadow: 2px 1px 6px;
}

.container-cards{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-cards .card-left .obs{
    font-size: .6rem;
    position: relative;
    bottom: 12px;
    color: red;
}

.container-cards .card-left, .container-cards .card-right{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2rem;
}

textarea{
    width: 30vw;
    resize: none;
    font-weight: bold;
    font-size: 1rem;  
}

.btn{
    display: flex;
    justify-content: space-around;
}
/* POPUPS */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border:  1px solid black;
    text-align: center;  
    padding: .44rem;
    animation-duration: 100ms;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 400%;
    left: 230%;
    margin-left: -80px;
    font-size: .6rem;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn ease-in-out 1s;
    animation: fadeIn ease-in-out 1s;
  }
  